/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fs-700: 3rem;
  --fs-600: 2rem;
  --fs-400: 1.2rem;
  --primary-color: #16171b;
  --secondary-color: rgb(254, 88, 0);
}

#root,
html,
body {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
main {
  height: 100%;
}
/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  /* background-image: url("./assets/background/parrot-bg.webp"); */
  background: rgb(225, 226, 228);
  background: radial-gradient(
    circle,
    rgba(225, 226, 228, 1) 0%,
    rgba(240, 241, 241, 1) 50%,
    rgba(200, 201, 202, 1) 100%
  );
}

/* Remove list styles on ul and ol elements */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
